  <%= form_with model: client do |form| %>
<form class="row g-3">
  <div class="col-md-3">
    <%= form.label :nom, class: 'form-label' %>
    <%= form.text_field :nom, class: 'form-control' %>
  </div>
  <div class="col-3">
    <%= form.label :adresse, class: 'form-label' %>
    <%= form.text_area :adresse, class: 'form-control' %>
  </div>
  <div class="col-md-3">
    <%= form.label :ville, class: 'form-label' %>
    <%= form.text_field :ville, class: 'form-control' %>
  </div>
  <div class="col-2">
    <%= form.label :codepostal, class: 'form-label' %>
    <%= form.text_field :codepostal, class: 'form-control' %>
  </div>
  <div class="col-md-2">
    <%= form.label :contact, class: 'form-label' %>
    <%= form.text_field :contact, class: 'form-control' %>
  </div>
  <div class="col-md-2">
      <%= form.label :telephone, class: 'form-label' %>
    <%= form.text_field :telephone, class: 'form-control' %>
  </div>
  <div class="col-md-2">
    <%= form.label :referent, class: 'form-label' %>
    <%= form.text_field :referent, class: 'form-control' %>
  </div>
  <div class="col-md-2">
    <%= form.label :telreferent, class: 'form-label' %>
    <%= form.text_field :telreferent, class: 'form-control' %>
  </div>
  <div class="col-md-4">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control' %></br>
  </div>
  <div class="col-12">
    <%= form.submit "Envoyer", class: 'btn btn-success btn-lg' %>
  </div>
</form>
  <% end %>
