<%= form_with model: client do |form| %>
  <div>
    <%= form.label :nom %><br>
    <%= form.text_field :nom %>
    <% client.errors.full_messages_for(:nom).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :ville %><br>
    <%= form.text_area :ville %><br>
    <% client.errors.full_messages_for(:ville).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
